@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@helper Traverse(IPublishedContent parent)
{
    <ul>
        @foreach (var page in parent.Children.Where(x => x.IsVisible()).OrderBy(x => x.SortOrder))
        {
            <li>
                <a href="@page.Url">@page.Name</a>
                @if (page.Children.Any())
                {
                    @Traverse(page);
                }
            </li>
        }
    </ul>
}
@{
    var q = Model.Content.Site().DescendantsOrSelf("recipe").Where(x => x.IsVisible()).Take(6);
    var List = new List<Recipe>();
    q.ToList().ForEach(x => List.Add((Recipe)x));
    //var Cat = (Categories)Model.Content.Site().GetPropertyValue("categories");
}

@if (List.Count() >= 4)
{
    <div class="section tint">


        <div class="centered main-content-wrapper">
            <div class="section-title-wrapper">
                <h2 class="section-title">Recently Added Recipes</h2>
            </div>
            <div class="w-dyn-list">
                <div class="w-clearfix w-dyn-items w-row">
                    @for (int i = 0; i < 2; i++)
                    {
                        <div class="recipe-item w-col w-col-6 w-dyn-item">
                            <a class="large recipe-image-block w-inline-block" href="@List.ElementAt(i).Url" style="background-image: url('@List.ElementAt(i).RecipeImage.Url');">
                                <div class="recipe-overlay-block" data-ix="show-video-overlay-icon" style="transition: background-color 0.2s ease 0s;">
                                    <div class="recipe-title-wrapper">
                                        <div class="recipe-block-info-block w-clearfix">
                                            <img class="recipe-block-small-icon" src="@Umbraco.Media("1158").Url" width="15">
                                            <div class="recipe-block-info-title">@List.ElementAt(i).CookingTimeHour hours @List.ElementAt(i).CookingTimeMinutes minutes</div>
                                        </div>
                                        <div class="recipe-title">@List.ElementAt(i).Header</div>
                                    </div>
                                    <div class="recipe-video-overlay-block" data-ix="hide-video-overlay-icon" style="opacity: 0; transform: scaleX(0.8) scaleY(0.8) scaleZ(1); display: none;">
                                        <img class="overlay-play-icon" src="http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8496c0f1965960d68c90a_Icon-play-2.png">
                                    </div>
                                </div>
                            </a><a class="recipe-category-link-block w-button" href="@List.ElementAt(i).Parent.Url">@List.ElementAt(i).Parent.Name</a>
                        </div>
                    }

                </div>
            </div>
            }

            <div class="w-dyn-list">
                <div class="w-clearfix w-dyn-items w-row">
                    @for (int i = 2; i < List.Count(); i++)
                    {
                        <div class="recipe-item w-col w-col-4 w-dyn-item">
                            <a class="recipe-image-block w-inline-block" href="@List.ElementAt(i).Url" style="background-image: url('@List.ElementAt(i).RecipeImage.Url');">
                                <div class="recipe-overlay-block" data-ix="show-video-overlay-icon" style="transition: background-color 0.2s ease 0s;">
                                    <div class="recipe-title-wrapper">
                                        <div class="recipe-block-info-block w-clearfix">
                                            <img class="recipe-block-small-icon" src="@Umbraco.Media("1158").Url" width="15">
                                            <div class="recipe-block-info-title">@List.ElementAt(i).CookingTimeHour hours @List.ElementAt(i).CookingTimeMinutes minutes</div>
                                        </div>
                                        <div class="recipe-title">@List.ElementAt(i).Header</div>
                                    </div>
                                    <div class="recipe-video-overlay-block" data-ix="hide-video-overlay-icon" style="opacity: 0; transform: scaleX(0.8) scaleY(0.8) scaleZ(1); display: none;"><img class="overlay-play-icon" src="http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8496c0f1965960d68c90a_Icon-play-2.png"></div>
                                </div>
                            </a><a class="recipe-category-link-block w-button" href="@List.ElementAt(i).Parent.Url">@List.ElementAt(i).Parent.Name</a>
                        </div>
                    }
                </div>
            </div>
            <a class="button view-more w-button" href="@Umbraco.Url(1172)">View All Video Recipes</a>
</div>

</div>
}
